{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

<body id="page-top">
    <!-- Navigation-->

    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Abdallah
                    <span class="text-primary">AISSIOU</span>
                </h1>
                <div class="subheading mb-5">
                    Dev web Symfony :) <br>
                    <a href="mailto:name@email.com">aissiou.abdallah@gmail.com</a>
                </div>
                <p class="lead mb-5">Grand passionné par le code et l'informatique en général, j'ai fais un Bac
                    Professionnel Informatique et réseaux.
                    Très vite l'envie de me faire de l'expérience j'ai donc travaillé en auto-entrepreneur et commercial
                    durant 5 ans, mais ma passion pour le code était plus forte que tout.
                    J'ai entrepris de m'orienter vers une formation Développeur Web pour faire le métier de mes rêves et
                    m'épanouir professionnellement.
                    Extrêmement motivé, consciencieux, rigoureux et follement passionné j'ai rapidement trouvé mes
                    marques. Durant cette formation mon envie de devenir développeur web c'est confirmé et c'est
                    exacerbé, fort des bases solides que j'ai pu acquérir par cette expérience je suis à ce jour
                    pleinement apte à mener un projet à bien. <br>
                    Durant ma formation j'ai pu créer : <br>
                    - une artothèque mis en place Avec le framework Symfony et React.js (HTML-CSS JS Twig) <br>
                    - une boutique en ligne en pure php ( sans moyen de paiement )(HTML-CSS JS) <br>
                    - un jeux de rôles en ligne en PHP POO (HTML-CSS JS) <br>
                    Merci de m'avoir lu jusqu'au bout pour toutes informations complémentaires sur mes tarifs veuillez
                    me contacter <a href="mailto:name@email.com">aissiou.abdallah@gmail.com</a></p>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/abdallah-aissiou-b93526138/"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/AissiouAbdallahDevFs"><i
                            class="fab fa-github"></i></a>
                    <a class="social-icon" href="https://twitter.com/AbdallahAissiou"><i class="fab fa-twitter"></i></a>
                    <a class="social-icon" href="https://www.malt.fr/profile/adhcreation1">M</a>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experiences</h2>
                {% for Experience in experiences %}
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">{{ Experience.Entreprise }}</h3>
                        <div class="subheading mb-3">{{ Experience.Poste }}</div>
                        <p>
                            {{ Experience.Description }}
                        </p>
                    </div>
                    <div class="flex-shrink-0"><span
                            class="text-primary">{{ Experience.Date ? Experience.Date|date('Y-m-d') : '' }}</span></div>
                </div>
                {% endfor %}
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Diplomes</h2>
            {% for formation in formations %}
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">{{ formation.Ecole }}</h3>
                    <div class="subheading mb-3">{{ formation.Diplome }}</div>
                </div>
                <div class="flex-shrink-0"><span
                        class="text-primary">{{ formation.Date ? formation.Date|date('Y-m-d') : '' }}</span></div>
            </div>
            {% endfor %}
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                        <li class="list-inline-item"><i class="fab fa-symfony"></i></li>
                        <li class="list-inline-item"><i class="fab fa-react"></i></li>
                        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                    </ul>
                    <div class="subheading mb-3">Workflow</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Mise en place de la base de données
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Intégration du framework react dans symfony
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Gestion des connexions et des inscriptions
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Gestion des ajouts et suppression , création du crud
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Mise en place de l'administration avec connexion
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Intégration une API
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Agile Development & Scrum
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Intérêt</h2>
                    <p>En dehors de mon activité de développeur web, j'aime passer la plupart de mon temps à suivre l'actualité sportive et l'actualité e-sport </p>
                    <p class="mb-0">je suis un certain nombre de films et de programmes télévisés de science-fiction et fantastique et j'aime cuisiner.
                       je passe aussi une grande partie de mon temps libre à explorer les dernières avancées technologiques dans le monde du développement back.
                    </p>
                </div>
            </section>
            <hr class="m-0" />
        <!-- Bootstrap core JS-->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
        <!-- Core theme JS-->
</body>
{% endblock %}